/local/
.venv/
venv/
.DS_Store
~$*
__pycache__/
*.py[oc]
.ipynb_checkpoints/
*.pt
*.pth
*.ckpt
data/raw/fl3d/*
data/raw/nthu_ddd/*
data/raw/test_videos/*
data/models/*
data/cache/*
outputs/
!**/.gitkeep
